<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dogeyes.zyf.mapper.CinemaMapper">
  <resultMap id="BaseResultMap" type="com.dogeyes.zyf.pojo.Cinema">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="cinema_service" jdbcType="VARCHAR" property="cinemaService" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="db_name" jdbcType="VARCHAR" property="dbName" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="transport" jdbcType="VARCHAR" property="transport" />
    <result column="area_id" jdbcType="BIGINT" property="areaId" />
    <result column="rate_count" jdbcType="INTEGER" property="rateCount" />
    <result column="province_id" jdbcType="BIGINT" property="provinceId" />
    <result column="city_id" jdbcType="BIGINT" property="cityId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_time, update_time, address, cinema_service, info, db_name, picture, rate,
    tel, transport, area_id, rate_count, province_id, city_id
  </sql>
  <select id="selectByExample" parameterType="com.dogeyes.zyf.pojo.example.CinemaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from cinema
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cinema
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cinema
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.dogeyes.zyf.pojo.example.CinemaExample">
    delete from cinema
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.dogeyes.zyf.pojo.Cinema" useGeneratedKeys="true">
    insert into cinema (create_time, update_time, address,
      cinema_service, info, db_name,
      picture, rate, tel,
      transport, area_id, rate_count,
      province_id, city_id)
    values (#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{address,jdbcType=VARCHAR},
      #{cinemaService,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, #{dbName,jdbcType=VARCHAR},
      #{picture,jdbcType=VARCHAR}, #{rate,jdbcType=DECIMAL}, #{tel,jdbcType=VARCHAR},
      #{transport,jdbcType=VARCHAR}, #{areaId,jdbcType=BIGINT}, #{rateCount,jdbcType=INTEGER},
      #{provinceId,jdbcType=BIGINT}, #{cityId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.dogeyes.zyf.pojo.Cinema" useGeneratedKeys="true">
    insert into cinema
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="cinemaService != null">
        cinema_service,
      </if>
      <if test="info != null">
        info,
      </if>
      <if test="dbName != null">
        db_name,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="transport != null">
        transport,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="rateCount != null">
        rate_count,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="cinemaService != null">
        #{cinemaService,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null">
        #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="transport != null">
        #{transport,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=BIGINT},
      </if>
      <if test="rateCount != null">
        #{rateCount,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dogeyes.zyf.pojo.example.CinemaExample" resultType="java.lang.Long">
    select count(*) from cinema
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cinema
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.cinemaService != null">
        cinema_service = #{record.cinemaService,jdbcType=VARCHAR},
      </if>
      <if test="record.info != null">
        info = #{record.info,jdbcType=VARCHAR},
      </if>
      <if test="record.dbName != null">
        db_name = #{record.dbName,jdbcType=VARCHAR},
      </if>
      <if test="record.picture != null">
        picture = #{record.picture,jdbcType=VARCHAR},
      </if>
      <if test="record.rate != null">
        rate = #{record.rate,jdbcType=DECIMAL},
      </if>
      <if test="record.tel != null">
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.transport != null">
        transport = #{record.transport,jdbcType=VARCHAR},
      </if>
      <if test="record.areaId != null">
        area_id = #{record.areaId,jdbcType=BIGINT},
      </if>
      <if test="record.rateCount != null">
        rate_count = #{record.rateCount,jdbcType=INTEGER},
      </if>
      <if test="record.provinceId != null">
        province_id = #{record.provinceId,jdbcType=BIGINT},
      </if>
      <if test="record.cityId != null">
        city_id = #{record.cityId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cinema
    set id = #{record.id,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      address = #{record.address,jdbcType=VARCHAR},
      cinema_service = #{record.cinemaService,jdbcType=VARCHAR},
      info = #{record.info,jdbcType=VARCHAR},
      db_name = #{record.dbName,jdbcType=VARCHAR},
      picture = #{record.picture,jdbcType=VARCHAR},
      rate = #{record.rate,jdbcType=DECIMAL},
      tel = #{record.tel,jdbcType=VARCHAR},
      transport = #{record.transport,jdbcType=VARCHAR},
      area_id = #{record.areaId,jdbcType=BIGINT},
      rate_count = #{record.rateCount,jdbcType=INTEGER},
      province_id = #{record.provinceId,jdbcType=BIGINT},
      city_id = #{record.cityId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dogeyes.zyf.pojo.Cinema">
    update cinema
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="cinemaService != null">
        cinema_service = #{cinemaService,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null">
        db_name = #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=DECIMAL},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="transport != null">
        transport = #{transport,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=BIGINT},
      </if>
      <if test="rateCount != null">
        rate_count = #{rateCount,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dogeyes.zyf.pojo.Cinema">
    update cinema
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      address = #{address,jdbcType=VARCHAR},
      cinema_service = #{cinemaService,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      db_name = #{dbName,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      rate = #{rate,jdbcType=DECIMAL},
      tel = #{tel,jdbcType=VARCHAR},
      transport = #{transport,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=BIGINT},
      rate_count = #{rateCount,jdbcType=INTEGER},
      province_id = #{provinceId,jdbcType=BIGINT},
      city_id = #{cityId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
