<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dogeyes.zyf.mapper.CustomMovieMapper">
    <resultMap id="BaseResultMap" type="com.dogeyes.zyf.pojo.Movie">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="actor" jdbcType="VARCHAR" property="actor" />
        <result column="area" jdbcType="VARCHAR" property="area" />
        <result column="directed_by" jdbcType="VARCHAR" property="directedBy" />
        <result column="info" jdbcType="VARCHAR" property="info" />
        <result column="language" jdbcType="VARCHAR" property="language" />
        <result column="db_name" jdbcType="VARCHAR" property="dbName" />
        <result column="picture" jdbcType="VARCHAR" property="picture" />
        <result column="rate" jdbcType="REAL" property="rate" />
        <result column="show_time" jdbcType="TIMESTAMP" property="showTime" />
        <result column="time" jdbcType="INTEGER" property="time" />
        <result column="total_money" jdbcType="DECIMAL" property="totalMoney" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="video" jdbcType="VARCHAR" property="video" />
        <result column="is_show" jdbcType="BIT" property="isShow" />
    </resultMap>
    <insert id="batchData">
        <!-- todo 批量添加电影的方法 -->
    </insert>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.dogeyes.zyf.pojo.Movie" useGeneratedKeys="true">
        insert into movie(create_time, update_time, actor,
                          area, directed_by, info,
                          `language`, db_name, picture,
                          rate, show_time, `time`,
                          total_money, `type`, video,
                          is_show)
        values (CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, #{actor,jdbcType=VARCHAR},
                #{area,jdbcType=VARCHAR}, #{directedBy,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR},
                #{language,jdbcType=VARCHAR}, #{dbName,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR},
                #{rate,jdbcType=REAL}, #{showTime,jdbcType=TIMESTAMP}, #{time,jdbcType=INTEGER},
                #{totalMoney,jdbcType=DECIMAL}, #{type,jdbcType=VARCHAR}, #{video,jdbcType=VARCHAR},
                #{isShow,jdbcType=BIT})
    </insert>

</mapper>
