<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dogeyes.zyf.mapper.MovieMapper">
  <resultMap id="BaseResultMap" type="com.dogeyes.zyf.pojo.Movie">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="actor" jdbcType="VARCHAR" property="actor" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="directed_by" jdbcType="VARCHAR" property="directedBy" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="db_name" jdbcType="VARCHAR" property="dbName" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="show_time" jdbcType="TIMESTAMP" property="showTime" />
    <result column="time" jdbcType="INTEGER" property="time" />
    <result column="total_money" jdbcType="DECIMAL" property="totalMoney" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="video" jdbcType="VARCHAR" property="video" />
    <result column="is_show" jdbcType="BIT" property="isShow" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_time, update_time, actor, area, directed_by, info, "language", db_name, 
    picture, rate, show_time, "time", total_money, "type", video, is_show
  </sql>
  <select id="selectByExample" parameterType="com.dogeyes.zyf.pojo.MovieExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from movie
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from movie
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from movie
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.dogeyes.zyf.pojo.MovieExample">
    delete from movie
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.dogeyes.zyf.pojo.Movie" useGeneratedKeys="true">
    insert into movie (create_time, update_time, actor, 
      area, directed_by, info, 
      "language", db_name, picture, 
      rate, show_time, "time", 
      total_money, "type", video, 
      is_show)
    values (#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{actor,jdbcType=VARCHAR}, 
      #{area,jdbcType=VARCHAR}, #{directedBy,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, 
      #{language,jdbcType=VARCHAR}, #{dbName,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR}, 
      #{rate,jdbcType=DECIMAL}, #{showTime,jdbcType=TIMESTAMP}, #{time,jdbcType=INTEGER}, 
      #{totalMoney,jdbcType=DECIMAL}, #{type,jdbcType=VARCHAR}, #{video,jdbcType=VARCHAR}, 
      #{isShow,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.dogeyes.zyf.pojo.Movie" useGeneratedKeys="true">
    insert into movie
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="actor != null">
        actor,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="directedBy != null">
        directed_by,
      </if>
      <if test="info != null">
        info,
      </if>
      <if test="language != null">
        "language",
      </if>
      <if test="dbName != null">
        db_name,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="showTime != null">
        show_time,
      </if>
      <if test="time != null">
        "time",
      </if>
      <if test="totalMoney != null">
        total_money,
      </if>
      <if test="type != null">
        "type",
      </if>
      <if test="video != null">
        video,
      </if>
      <if test="isShow != null">
        is_show,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actor != null">
        #{actor,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="directedBy != null">
        #{directedBy,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null">
        #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="showTime != null">
        #{showTime,jdbcType=TIMESTAMP},
      </if>
      <if test="time != null">
        #{time,jdbcType=INTEGER},
      </if>
      <if test="totalMoney != null">
        #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="video != null">
        #{video,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null">
        #{isShow,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dogeyes.zyf.pojo.MovieExample" resultType="java.lang.Long">
    select count(*) from movie
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update movie
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.actor != null">
        actor = #{record.actor,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null">
        area = #{record.area,jdbcType=VARCHAR},
      </if>
      <if test="record.directedBy != null">
        directed_by = #{record.directedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.info != null">
        info = #{record.info,jdbcType=VARCHAR},
      </if>
      <if test="record.language != null">
        "language" = #{record.language,jdbcType=VARCHAR},
      </if>
      <if test="record.dbName != null">
        db_name = #{record.dbName,jdbcType=VARCHAR},
      </if>
      <if test="record.picture != null">
        picture = #{record.picture,jdbcType=VARCHAR},
      </if>
      <if test="record.rate != null">
        rate = #{record.rate,jdbcType=DECIMAL},
      </if>
      <if test="record.showTime != null">
        show_time = #{record.showTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.time != null">
        "time" = #{record.time,jdbcType=INTEGER},
      </if>
      <if test="record.totalMoney != null">
        total_money = #{record.totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.type != null">
        "type" = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.video != null">
        video = #{record.video,jdbcType=VARCHAR},
      </if>
      <if test="record.isShow != null">
        is_show = #{record.isShow,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update movie
    set id = #{record.id,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      actor = #{record.actor,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=VARCHAR},
      directed_by = #{record.directedBy,jdbcType=VARCHAR},
      info = #{record.info,jdbcType=VARCHAR},
      "language" = #{record.language,jdbcType=VARCHAR},
      db_name = #{record.dbName,jdbcType=VARCHAR},
      picture = #{record.picture,jdbcType=VARCHAR},
      rate = #{record.rate,jdbcType=DECIMAL},
      show_time = #{record.showTime,jdbcType=TIMESTAMP},
      "time" = #{record.time,jdbcType=INTEGER},
      total_money = #{record.totalMoney,jdbcType=DECIMAL},
      "type" = #{record.type,jdbcType=VARCHAR},
      video = #{record.video,jdbcType=VARCHAR},
      is_show = #{record.isShow,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dogeyes.zyf.pojo.Movie">
    update movie
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actor != null">
        actor = #{actor,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="directedBy != null">
        directed_by = #{directedBy,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        "language" = #{language,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null">
        db_name = #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=DECIMAL},
      </if>
      <if test="showTime != null">
        show_time = #{showTime,jdbcType=TIMESTAMP},
      </if>
      <if test="time != null">
        "time" = #{time,jdbcType=INTEGER},
      </if>
      <if test="totalMoney != null">
        total_money = #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        "type" = #{type,jdbcType=VARCHAR},
      </if>
      <if test="video != null">
        video = #{video,jdbcType=VARCHAR},
      </if>
      <if test="isShow != null">
        is_show = #{isShow,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dogeyes.zyf.pojo.Movie">
    update movie
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      actor = #{actor,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      directed_by = #{directedBy,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      "language" = #{language,jdbcType=VARCHAR},
      db_name = #{dbName,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      rate = #{rate,jdbcType=DECIMAL},
      show_time = #{showTime,jdbcType=TIMESTAMP},
      "time" = #{time,jdbcType=INTEGER},
      total_money = #{totalMoney,jdbcType=DECIMAL},
      "type" = #{type,jdbcType=VARCHAR},
      video = #{video,jdbcType=VARCHAR},
      is_show = #{isShow,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>