<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dogeyes.zyf.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.dogeyes.zyf.pojo.Order">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="new_money" jdbcType="DECIMAL" property="newMoney" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="old_money" jdbcType="DECIMAL" property="oldMoney" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
    <result column="db_status" jdbcType="INTEGER" property="dbStatus" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="cinema_hall_session_id" jdbcType="BIGINT" property="cinemaHallSessionId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_time, update_time, new_money, num, old_money, sn, db_status, account_id, 
    cinema_hall_session_id
  </sql>
  <select id="selectByExample" parameterType="com.dogeyes.zyf.pojo.OrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.dogeyes.zyf.pojo.OrderExample">
    delete from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.dogeyes.zyf.pojo.Order" useGeneratedKeys="true">
    insert into order (create_time, update_time, new_money, 
      num, old_money, sn, 
      db_status, account_id, cinema_hall_session_id
      )
    values (#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{newMoney,jdbcType=DECIMAL}, 
      #{num,jdbcType=INTEGER}, #{oldMoney,jdbcType=DECIMAL}, #{sn,jdbcType=VARCHAR}, 
      #{dbStatus,jdbcType=INTEGER}, #{accountId,jdbcType=BIGINT}, #{cinemaHallSessionId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.dogeyes.zyf.pojo.Order" useGeneratedKeys="true">
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="newMoney != null">
        new_money,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="oldMoney != null">
        old_money,
      </if>
      <if test="sn != null">
        sn,
      </if>
      <if test="dbStatus != null">
        db_status,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="cinemaHallSessionId != null">
        cinema_hall_session_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="newMoney != null">
        #{newMoney,jdbcType=DECIMAL},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="oldMoney != null">
        #{oldMoney,jdbcType=DECIMAL},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="dbStatus != null">
        #{dbStatus,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="cinemaHallSessionId != null">
        #{cinemaHallSessionId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dogeyes.zyf.pojo.OrderExample" resultType="java.lang.Long">
    select count(*) from order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.newMoney != null">
        new_money = #{record.newMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.num != null">
        num = #{record.num,jdbcType=INTEGER},
      </if>
      <if test="record.oldMoney != null">
        old_money = #{record.oldMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.sn != null">
        sn = #{record.sn,jdbcType=VARCHAR},
      </if>
      <if test="record.dbStatus != null">
        db_status = #{record.dbStatus,jdbcType=INTEGER},
      </if>
      <if test="record.accountId != null">
        account_id = #{record.accountId,jdbcType=BIGINT},
      </if>
      <if test="record.cinemaHallSessionId != null">
        cinema_hall_session_id = #{record.cinemaHallSessionId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order
    set id = #{record.id,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      new_money = #{record.newMoney,jdbcType=DECIMAL},
      num = #{record.num,jdbcType=INTEGER},
      old_money = #{record.oldMoney,jdbcType=DECIMAL},
      sn = #{record.sn,jdbcType=VARCHAR},
      db_status = #{record.dbStatus,jdbcType=INTEGER},
      account_id = #{record.accountId,jdbcType=BIGINT},
      cinema_hall_session_id = #{record.cinemaHallSessionId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dogeyes.zyf.pojo.Order">
    update order
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="newMoney != null">
        new_money = #{newMoney,jdbcType=DECIMAL},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="oldMoney != null">
        old_money = #{oldMoney,jdbcType=DECIMAL},
      </if>
      <if test="sn != null">
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="dbStatus != null">
        db_status = #{dbStatus,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=BIGINT},
      </if>
      <if test="cinemaHallSessionId != null">
        cinema_hall_session_id = #{cinemaHallSessionId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dogeyes.zyf.pojo.Order">
    update order
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      new_money = #{newMoney,jdbcType=DECIMAL},
      num = #{num,jdbcType=INTEGER},
      old_money = #{oldMoney,jdbcType=DECIMAL},
      sn = #{sn,jdbcType=VARCHAR},
      db_status = #{dbStatus,jdbcType=INTEGER},
      account_id = #{accountId,jdbcType=BIGINT},
      cinema_hall_session_id = #{cinemaHallSessionId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>